/* Thanks for the dope hover effect codrops! */
/* Check it out at https://github.com/codrops/HoverEffectIdeas */

.grid {
  position: relative;
  clear: both;
  margin: 0 auto;
  max-width: 1000px;
  list-style: none;
  text-align: center;
  overflow: auto;
}

.grid figure {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15), 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  float: left;
  overflow: hidden;
  margin: 1.5% 2%;
  min-width: 320px;
  max-width: 480px;
  max-height: 340px;
  width: 46%;
  height: auto;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 0 30px;
  color: #fff;
  font-size: 20px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 60px);
  height: 100%;
}

.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 700;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
  font-size: 68.5%;
}

figure.hover-effect {
  z-index: auto;
  overflow: visible;
  background: #000;
}

figure.hover-effect:before,
figure.hover-effect h2:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #000;
  content: '';
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.hover-effect:before {
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.8);
  opacity: 0;
}

figure.hover-effect figcaption {
  z-index: 1;
}

figure.hover-effect img {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: perspective(1000px) translate3d(0,0,0);
  transform: perspective(1000px) translate3d(0,0,0);
}

figure.hover-effect h2,
figure.hover-effect p {
  background: #111;
  color: #eee;
}

figure.hover-effect h2 {
  position: relative;
  margin-top: 30px;
  padding: 7px;
}

figure.hover-effect h2:before {
  box-shadow: 0 1px 10px rgba(0,0,0,0.5);
}

figure.hover-effect p {
  margin-top: 15px;
  padding: 10px;
  font-weight: 800;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale3d(0.9,0.9,1);
  transform: scale3d(0.9,0.9,1);
}

figure.hover-effect:hover:before {
  opacity: 1;
}

figure.hover-effect:hover img {
  -webkit-transform: perspective(1000px) translate3d(0, 0, 21px);
  transform: perspective(1000px) translate3d(0, 0, 21px);
}

figure.hover-effect:hover h2:before {
  opacity: 0;
}

figure.hover-effect:hover p {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}