body {
  overflow-x: hidden;
  margin: 0;
  padding: 10px 15px;
}

.content {
  overflow: hidden;
  margin-bottom: 15px;
}

.header {
  max-width: 1000px;
  margin: auto;
}

.header a {
  text-decoration: none;
}

.header__name {
  color: #000;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 60px;
  font-weight: 300;
  margin: 0;
  padding: 10px 30px 15px 2%;
  width: 125px;
  text-align: center;
}

.header__name::after {
  content: 'Alex Crist';
}

.header__name:hover {
  cursor: pointer;
}

.header__name:hover::after {
  content: 'Email Me';
}

.header__image {
  display: inline-block;
  background-image: url('../assets/alexcrist.jpg');
  background-size: cover;
  background-position-x: -11px;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  margin-bottom: -20px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}

.header__description {
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 32px;
  padding: 24px 0 15px 2%;
  vertical-align: top;
  max-width: 550px;
  width: 60%;
}

.buttons {
  overflow: visible;
}

.buttons__container {
  width: 100%;
  height: 60px;
  line-height: 55px;
  text-align: center;
  max-width: 1000px;
  margin: auto;
}

.buttons__button {
  display: inline-block;
  width: 46%;
  margin: 2%;
  max-width: 480px;
  height: 100%;
  text-align: center;
  font-size: 25px;
  font-family: 'Limelight', cursive;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.buttons__button:hover {
  cursor: pointer;
}

.buttons__button:active {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  background: #efefef;
}

.buttons__button-selected {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  background: #efefef;
}

.sections {
}

.sections__container {
  width: 200%;
  transition: all 0.4s ease-in-out;
}

.sections__container-slide {
  margin-left: -100%;
}

.sections__section {
  display: inline-block;
  width: 50%;
  height: 100%;
}

.sections__section-left {
  float: left;
}

.sections__section-right {
  float: right;
}

.sections__header {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  font-weight: 300;
  padding: 15px 0 0;
  margin-bottom: 0;
}

.sections__description {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-size: 18px;
  max-width: 1000px;
  margin: 10px auto;
  line-height: 28px;
}

.sections__fetching {
  padding-top: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  color: #999;
}

.sections__chart {
  width: 600px;
  height: 300px;
  margin: auto;
}
