.Tabs {
  flex-grow: 1;
  display: flex;
}

.Tabs-tab {
  padding-right: 24px;
  display: flex;
}

.Tabs-current {
  color: #deb2cd;
}

.Tabs-title {
  font-weight: 400;
  align-self: flex-end;
}

.Tabs-title:hover {
  cursor: pointer;
  color: #d6ef9f;
}
