html {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 16px;
  line-height: 16px;
  color: #1e262c;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 95%;
  width: 500px;
  margin: 36px auto;
}

.container > * {
  margin-bottom: 36px;
}

a {
  text-decoration: none;
  color: #1e262c;
}

a:hover {
  text-decoration: underline;
}

.tab {
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  padding: 1px;
}

.tab:hover {
  color: white;
  background-color: #1e262c;
}

.tab-selected {
  color: white;
  background-color: #1e262c;
}

.photo {
  width: 100%;
  border-radius: 3px;
}
