body {
    max-width: 900px;
    margin: auto;
    padding: 0 1em 0 1em;
}

hr {
    border-top: 1px solid #666666;
}

.header {
    margin: 0;
    padding: 0 .5em 0 .5em;
}

.category-container {
    margin: 1em 0 1em 0;
}

.category {
    font-family: 'Source Sans Pro', sans-serif;
    margin-right: 3em;
}

.category:hover {
    cursor: pointer;
    color: #666;
}

.content {
    padding: 1em;
}