.title {
    text-align: center;
}

.desc {
    text-align: center;
    font-size: 12pt;
}

.break {
    width: 50%;
}

.sub-title {
    text-align: center;
}

.graph-container {
    width: 500px;
    margin: auto;
    padding: 10px;
}

.left {
    display: inline;
}

.right {
    display: inline;
    float: right;
}